<table>
    <tr>
        <td>
            Id:
        </td>
        <td>
            1:
        </td>
    </tr>
    <tr>
        <td>
            Name:
        </td>
        <td>
            1:
        </td>
    </tr>
    <tr>
        <td>
            street:
        </td>
        <td>
            1:
        </td>
    </tr>
    <tr>
        <td>
            postalcode:
        </td>
        <td>
            1:
        </td>
    </tr>
    <tr>
        <td>
            postalcode:
        </td>
        <td>
            1:
        </td>
    </tr>
</table>