<table>
    <tr>
        <td>
            Id:
        </td>
        <td>
            {{singleBrew.id}}
        </td>
    </tr>
    <tr>
        <td>
            Name:
        </td>
        <td>
            {{singleBrew.name}}
        </td>
    </tr>
    <tr>
        <td>
            street:
        </td>
        <td>
            {{singleBrew.street}}
        </td>
    </tr>
    <tr>
        <td>
            state:
        </td>
        <td>
            {{singleBrew.street}}
        </td>
    </tr>
    <tr>
        <td>
            postalcode:
        </td>
        <td>
            {{singleBrew.street}}
        </td>
    </tr>
</table>